* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}
  
header h1 {
    text-align: center;
    padding: 20px;
    font-weight: 1000;
}
  
.user-card {
    max-width: 80%;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
}
  
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid black;
    padding: 5px 20px;
    background-color: #ddd;
    font-weight: bold;
    font-size: xx-large;
}
  
.arrow-img {
    width: 20px;
    height: 20px;
}
  
.card-body {
    display: flex;
    justify-content: space-between;
}
  
.hidden {
    height: 0;
    overflow: hidden;
}
  
.rotate {
    transform: rotate(90deg);
}
  
.avatar {
    width: 339px;
    align-self: center;
    margin-right: 10px;
    height: 207px;
    border: 1px solid #258301;
}
  
.content {
    align-self: center;
    flex-grow: 5;
    border: 1px solid #258301;
}
  
.avatar-img {
    width: 40%;
    margin: 34px 102px;
}
  
.row {
    display: flex;
    justify-content: space-between;
    margin: 25px 120px;
    align-items: center;
    height: 35px;
}
  
.row p {
    border: 1px solid #ccc;
    padding: 10px;
    width: 400px;
    font-size: x-large;
}
  
.row p span {
    font-weight: bold;
}